/* Loyal style mods */

.card{
  text-color: #ffffff;
  border: none;
}

.card-header {
  text-align: justify;
  background-color: #1c1d26;
  font-color: #ffffff;
}

.card-header p {
  margin: 0 0 0.25em 0;
}

.card-body {
  background-color: #1c1d26;
}

.software {
  border-radius: 10px;
  padding: 5px;
  border: 0px;
  border-color: #0c0d16;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.sponsor {
  height:100px;
  vertical-align: middle;
  padding: 3px 5px 3px 10px;
}

#logo {
  padding-bottom: 50px;
  padding-top: 0px;
  vertical-align: middle;
}

#shield {
  padding-top: 10px;
  padding-right: 10px;
}
