<!DOCTYPE html>
 <html>
 <head>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Loyal Goff</title>
         <link rel="stylesheet" href="css/bootstrap.min.css">
		 <link rel="stylesheet" href="css/bootstrap-responsive.css">
		 
		 <script src="http://code.jquery.com/jquery-latest.js"></script>
		 <script src="js/bootstrap.min.js"></script>
		 
 </head>
 <body>	  
 <div class="container">
	 
	 <div class="navbar navbar-inverse">
		 <div class="navbar-inner">
			 <a class="brand" href="index.html">Loyal Goff</a>
		 {% set activePage = activePage|default('index') -%}
		 <ul class="nav">
		 {% for href,page,category,caption in pages %}
		   <li{% if page == activePage %} class="active"{% endif
		   %}><a href="{{ page+'.html' }}">{{ caption|e }}</a></li>
		 {% endfor %}

		   
		 </ul>
		 
		 <form class="navbar-search pull-right">
		   <i class="icon-search icon-white"></i>
		   <input type="text" class="search-query" placeholder="Search" style="width:50px;">
		 </form>
	 	</div>
	 </div>

 <div class="row">
     <div class="span2">
		 <ul class="nav nav-list">
		 {% for href,page,category,caption in pages %}
		   <li{% if page == activePage %} class="active"{% endif
		   %}><a href="{{ page+'.html' }}">{{ caption|e }}</a></li>
		 {% endfor %}
		 </ul>

     </div><!-- .span2 -->

         <div class="span10">
	         {% block content %}
			 <div class="hero-unit">
	         <h1>Awesome responsive layout</h1>
	         <p>Hello guys i am a ".hero-unit" and you can use me if you wanna say something important.</p>
	         <p><a class="btn btn-primary btn-large">Super important &raquo;</a></p>
	         </div><!-- .hero-unit -->
         <h2>Box Number 2</h2>
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         <p><a class="btn" href="#">Click meeee &raquo;</a></p>
		 <div class="accordion" id="accordion2">
		   <div class="accordion-group">
		     <div class="accordion-heading">
		       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		         Collapsible Group Item #1
		       </a>
		     </div>
		     <div id="collapseOne" class="accordion-body collapse in">
		       <div class="accordion-inner">
		         Anim pariatur cliche...
		       </div>
		     </div>
		   </div>
		   <div class="accordion-group">
		     <div class="accordion-heading">
		       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		         Collapsible Group Item #2
		       </a>
		     </div>
		     <div id="collapseTwo" class="accordion-body collapse">
		       <div class="accordion-inner">
		         Anim pariatur cliche...
		       </div>
		     </div>
		   </div>
		 </div>
		 {% endblock content %}
         </div><!-- .span4 -->
   
 </div><!-- .row -->

 </div><!-- .container -->
 <div class="container">
	 <div class="navbar navbar-bottom">
			<!--<div class="well well-small pull-right"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</div>-->
	 </div>
 </div>
     
 </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-318359-8', 'auto');
  ga('send', 'pageview');

</script>
</html>
