{% extends "base.html" %}

{% block title %}
  Contact
{% endblock title %}

{% block content %}
<h2>Contact</h2>
<img src="images/MRB.jpg" class="img-rounded pull-left" alt="Miller Research Building" style="vertical-align: middle; box-shadow: 4px 4px 15px rgb(128,128,128);margin:5px 25px 5px 0px;">
    <address>
      <strong>Goff Lab</strong><br>
      Miller Research Building, Room 445<br>
      733 N. Broadway Ave.<br>
      Baltimore, MD 21205<br>
      <abbr title="Phone">P:</abbr> (410) 502-9894<br>
      <!--<abbr title="Email">E:</abbr><a href="#">loyalgoff[at]jhmi[dot]edu</a><br>-->
    </address>

    <address>
      <strong>PI: Loyal Goff</strong><br>
      Institute of Genetic Medicine<br>
      Miller Research Building, Room 449<br>
      733 N. Broadway Ave.<br>
      Baltimore, MD 21205<br>
      <abbr title="Phone">P:</abbr> (443) 287-0251<br>
      <abbr title="Email">E:</abbr><a href="mailto:loyalgoff@jhmi.edu"> loyalgoff@jhmi.edu</a>
    </address>

{% endblock content %}
