<!-- Header -->
  <header id="header">
    <h1 id="logo">
      <a href="index.html"> <img id="shield" src="images/medicine.shield.small.white.png" height="40" alt=""/>Goff Lab</a>
    </h1>
    <nav id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <!-- <li><a href="news.html">News</a></li> -->
        <li><a href="people.html">People</a></li>
        <li><a href="#">Research</a>
            <ul>
              <li><a href="preprints.html">Preprints</a></li>
              <li><a href="publications.html">Publications</a></li>
              <li><a href="software.html">Software</a></li>
              <li><a href="datasets.html">Datasets</a></li>
            </ul>
        </li>
        <!-- <li><a href="teaching.html">Teaching</a></li> -->
        <!--
        <li><a href="#">Resources</a>
            <ul>
              <li><a href="members.html">Lab Members</a></li>
              <li><a href="links.html">Links</a></li>
            </ul>
        </li>
      -->
        <li><a href="blog.html">Blog</a></li>
        <li><a href="join.html">Opportunites</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <!--<li><a href="#" class="button primary">Sign Up</a></li>-->
      </ul>
    </nav>
  </header>
