{% extends 'base.html' %}
		{% block title %} SCIL - JHU {% endblock %}
		{% block content %}
		<body class="is-preload landing">
			<div id="page-wrapper">
			{% include 'header.html' %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Single Cell Variation in Neural Development and Disease</h2>
							<!--<p>And there are no hoverboards or flying cars.<br />-->
							<!--<p> Just cells. Lots and lots of single cells.</p>-->
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Transcriptional variation as a cellular phenotype</h2>
										<p>How does inter- and Intra-cell type heterogeneity contribute to cellular function?</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Every cell in the brain is unique. Gene expression differences between cells of discrete types help define how they integrate and function in the nervous sytem. However, continuous sources of variation across cells, including spatial position, activity state, and responses to injury or inflammation, can have diverse functional consequences for cellular activities.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>By measuring the gene expression content of single cells in their native environment we can learn how properties like regional localization, cellular morphology, axonal targets, and integration within the circuitry of the brain, contribute to observable, cell-type-specific changes in the dynamic mammalian nervous system.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Cell fate specification during neural development</h2>
							<p>How are different cell types created from a single parental cell type in the developing nervous system?</p>
						</header>
						<p>The staggering diversity of cell types in the mammalian brain and enteric nervous systems is established by only a handful of different precursor cell types. Our lab wants to understand how cells know or are instructed to become a particular cell type. This involves cataloging and identifying different cell types and their features, learning how they are integrated with each other during development to form a function nervous system, and identifying patterns of gene and gene networks that regulate choices in cell fate.</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom">
						<img src="images/0259.jpg" alt="" />
						<!--
						<video autoplay muted loop id="myVideo">
  						<source src="images/cell_flux_velocity_abs.mp4" type="video/mp4">
						</video>
						-->
					</span>
					<div class="content">
						<header>
							<h2>Celltype-specific responses in health and disease</h2>
							<p>What makes certain cell types more vulnerable to degeneration in the brain?</p>
						</header>
						<p>Neurodegenerative disorders are characterized by the targeted loss of specific cellular populations in the brain. In many cases, different neurodegenerative disorders differ only in the specific neuronal populations or brain regions which are affected. We use single-cell measurements to reconstruct how different neuronal populations respond and succumb to to disease-associated variants or conditions. Understanding these processes to learn why different neuronal cell types are selectively vulnerable or spared in neurodegenerative disorders provides insight into potential therapeutic options for these debilitating disorders.</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>The Goff Lab supports and welcomes learners of all backgrounds</h2>
							<p>We believe in open-minded curiosity of our world and that this begins by recognizing and learning how our perceptions and biases can shape this process. We are committed to building a laboratory and training environment that is diverse and inclusive to welcome, and collectively benefit from, unique perspectives on both science and life.</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Research</h3>
									<!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<a href="people.html"><span class="icon solid alt major fa-users"></span></a>
									<h3>People</h3>
									<!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<a href="publications.html"><span class="icon solid alt major fa-chart-area"></span></a>
									<h3>Publications</h3>
									<!-- <p>See what kinds of research projects our group has been up to lately.</p> -->
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<a href="software.html"><span class="icon solid alt major fa-code"></span></a>
										<h3>Software</h3>
										<!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->

								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-newspaper"></span>
									<h3>News</h3>
									<!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-link"></span>
									<h3>Links</h3>
									<!-- <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p> -->
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Back to the Top</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style1 special fade-up">
					<div class="container">
						<div class="row">
							<div class="col-8">
									<header>
										<h2>To Learn More</h2>
										<p>Contact us to discuss your single cell needs or to inquire about advancing your career in the Single Cell Innovation Laboratory (SCIL) at Johns Hopkins University.</p>
										<a href="contact.html"><button type="button btn-lg" class="btn btn-success">Contact Us</button></a>
									</header>
									<!-- 
									<form method="post" action="#" class="cta">
										<div class="row gtr-uniform gtr-50">
											<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
											<div class="col-4 col-12-xsmall"><input type="submit" value="Contact Us" class="fit primary" /></div>
										</div>
									</form>
									-->
							</div>
							<div class="col-4">
									<a class="twitter-timeline" data-lang="en" data-width="350" data-height="500" data-theme="dark" href="https://twitter.com/loyalgoff?ref_src=twsrc%5Etfw">Tweets by loyalgoff</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</section>

				<!-- Sponsors -->
					<section id="six" class="wrapper style1 special fade-up">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<img src="images/NSF_4-Color_bitmap_Logo.png" class="image sponsor" alt="National Science Foundation">
								</div>
								<div class="col-4 col-12-medium">
									<header>
										<h2>Our Sponsors</h2>
										<p>We are proud to be supported by the following organizations</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<img src="images/Helis_Final_Logo.png" class="image sponsor" alt="The Helis Foundation">
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-medium">
									<img src="images/MSCRF_logo.png" class="image sponsor" alt="Maryland Stem Cell Research Fund" style="background: #ffffff;">
								</div>
								<div class="col-4 col-12-medium">
									<img src="images/chan-zuckerberg-initiative.png" class="image sponsor" alt="Chan-Zuckerberg Initiative">
								</div>
								<div class="col-4 col-12-medium">
									<img src="images/jhu-logo.png" class="image sponsor" alt="Johns Hopkins Discovery Fund" style="background: #ffffff;">
								</div>
							</div>
						</div>
					</section>

		</div>
	</div>
		{% endblock %}
