{% extends "base.html" %}
{% block title %}
	Landing page
{% endblock title %}

{% block content %}

	<!-- News -->
		<a href="https://igm.jhmi.edu/"><img src="images/igm_logo_1_0.png" class="img-rounded pull-right img-responsive" style="width:200px;margin-right:25px"></a>
		<h1>The Goff Lab</h1>
		<h3>McKusick-Nathans Institute of Genetic Medicine</h3>

		<div class="row">
			<div class="col-md-4">
				<!-- News -->
				<div class="panel panel-default">
						<div class="panel-heading">Recent News</div>
						<div class="panel-body">
							<ul>
								<li><strong>November 7, 2014 - <a href="join.html" class="alert-link">Research Technologist</a></strong><br>
										<p>We are now hiring for a Research Technologist position.
								</li>

								<li><strong>October 22, 2014 - <a href="join.html" class="alert-link">Postdocs Wanted!</a></strong><br>
										<p>The Goff lab is looking for postdoctoral fellows interested in lncRNA biology and/or neuronal specification. Please contact Dr. Goff directly with any questions or inquiries.
								</li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-8">
					<p>The Goff Lab at Johns Hopkins University School of Medicine studies the regulatory role of non-coding RNAs in the establishment of cell identity during differentiation.  We explore these questions in the context of the mammalian brain; an organ system with an incredible diversity of cell types.</p>
			</div>

	</div>


	<!--<img src="images/Neurogenesis.png" style="position:relative;float:left;max-width:50%">-->
{% endblock content %}

{% block footer %}
	<blockquote class="pull-left" style="padding:5px;">
  		<p>"...a certain amount of hubris [is] required for anyone to call any part of the genome 'junk', given our level of ignorance."</p>
  		<small>Francis Collins, <cite title="Source Title">The Language of God: A Scientist Presents Evidence for Belief</cite></small>
	</blockquote>
{% endblock footer %}
