{% extends "base.html" %}
{% block title %}
	Index
{% endblock title %}

{% block leftcol %}
<!-- News -->

{% endblock leftcol %}

{% block content %}

	<!-- News -->
		<a href="https://igm.jhmi.edu/"><img src="images/igm_logo_1_0.png" class="img-rounded pull-right img-responsive" style="width:200px;margin-right:25px"></a>
		<h1>The Goff Lab</h1>

		<div class="row-fluid">
			<div class="col-md-9">
					<p>The Goff Lab at Johns Hopkins University School of Medicine studies the establishment of cellular identity during differentiation. How do complex systems reproducibly establish specific cellular subtypes over development? What are the key molecular decisions that affect cell fates? How do these processes go awry during disease? Our group integrates next-generation sequencing techologies with advanced molecular biology techniques to begin to address these broad questions in a variety of specific contexts.</p>
					
					<img src="images/lab_shot_1.jpg" class="img-rounded img-responsive pull-left" alt="Miller Research Building" style="vertical-align: middle; box-shadow: 4px 4px 15px rgb(128,128,128);width:500px;margin:5px 25px 5px 0px;">

					<p>We are particularly interested in the regulatory role of long non-coding RNAs (lncRNAs) in the establishment of cell identity during differentiation. This recently expanded class of regulatory RNA genes represents a foundational shift in how we think about gene regulation, disease pathophysiology, and what it means to be a gene.</p>
					<p>We explore these questions in the context of the mammalian brain; an organ system with an incredible diversity of cell types.</p>
			</div>
			<div class="col-md-3">
			&nbsp;
			</div>

	</div>


	<!--<img src="images/Neurogenesis.png" style="position:relative;float:left;max-width:50%">-->
{% endblock content %}

{% block footer %}
	<!--<blockquote class="pull-left" style="padding:5px;">
  		<p>"...a certain amount of hubris [is] required for anyone to call any part of the genome 'junk', given our level of ignorance."</p>
  		<small>Francis Collins, <cite title="Source Title">The Language of God: A Scientist Presents Evidence for Belief</cite></small>
	</blockquote>
-->
{% endblock footer %}
