{% extends "base.html" %}

{% block title %}
  Links
{% endblock title %}

{% block content %}
<h2>An assortment of useful links</h2>
<ul>
<h3>Project Resources and Data</h3>
  	<li><a href="http://rinnlab.rc.fas.harvard.edu/pyramidal/">DeCoN:</a> The Developing Cortical Neuron Transcriptional Resource</li>
<h3>Goff Lab Repositories</h3>
	<li><a href="http://www.github.com/gofflab/">GitHub</a></li>
<h3>Computational Resources</h3>
	<li><a href="http://marcc.jhu.edu/">MARCC Cluster</a></li>
	<li><a href="http://valor.rc.fas.harvard.edu/">Valor</a></li>
  <li><a href="http://www.jhpce.jhu.edu/">JHPCE Cluster</a></li>
	<li><a href="http://www.bioconductor.org/">Bioconductor</a></li>
<h3>lincRNA Resources</h3>
	<li><a href="http://www.broadinstitute.org/genome_bio/human_lincrnas/">Human Body Map lincRNA Catalog</a></li>
</ul>
{% endblock content %}
