{% extends "base.html" %}

{% block title %}
  People
{% endblock title %}

{% block content %}
<!-- <div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong><a href="join.html">Postdocs Wanted</a></strong><br>
  The Goff lab is looking for postdoctoral fellows interested in lncRNA biology and/or neuron specification. Please contact Dr. Goff directly for information or to apply.
</div> -->

<h2>People</h2>
<!-- Loyal -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Goff hi-res-1-370x370-bw.jpg" alt="Loyal Goff, PI" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:loyalgoff@jhmi.edu" target="_top">Loyal Goff</a> -- Principal Investigator</h4>
   	<p>Dr. Goff is an Assistant Professor of Neuroscience in the <a href="https://igm.jhmi.edu/">McKusick-Nathans Institute of Genetic Medicine</a> at Johns Hopkins University School of Medicine. His postdoctoral work was conducted under the joint mentorship of Drs. John Rinn (Harvard, SCRB) and Manolis Kellis (MIT, CSAIL) and involved the discovery, annotation, and characterization of long non-coding RNAs in a variety of cellular and developmental contexts. The Goff lab is currently focused on the roles of long noncoding RNAs on neural cell fate decisions and the application of single cell RNA-Sequencing to elucidate the developmental hierarchies during neuronal specification.</p>
  </div>
</div>

<!-- JoJo
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/jrobertson.jpg" alt="Johanna Robertson" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:jrobe108@jhmi.edu" target="_top">Johanna Robertson</a> -- Ph.D. Candidate, Human Genetics Graduate Program; 2016 <a href="http://www.hopkinsgenetics.org/">MD-Gem</a> fellow</h4>
     <p>Johanna is an MD-Gem fellow in the Human Genetics program at Johns Hopkins School of Medicine. In our lab, Johanna has helped to pioneer and optimize the use of single cell RNA-Seq technologies and is involved in projects as diverse as neuronal subtype characterization in combination with retrograde labeling, single cell RNA-Seq characterization of somatic mosaic variation in primary patient cells, and iPSC modeling of neurogenic disorders. Her current project involves characterization of the genotype-phenotype relationship for neurogenesis defects in several disorders of the epigenetic machinery.</p>
  </div>
</div>
-->

<!-- Jonathan -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/jaugustin.jpg" alt="Jonathan Augustin" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:jaugust7@jhmi.edu" target="_top">Jonathan Augustin</a> -- Ph.D. Candidate, Biochemistry, Cellular and Molecular Biology Graduate Program; NSF Graduate Fellow</h4>
     <p>Jonathan is a graduate student in the BCMB program. Prior to joining our lab, he was a research technician in the lab of Dr. Hao Jiang at the University of Alabama at Birmingham.  He did his undergraduate work at Maryville College in Tennessee where he earned his B.A. in Biochemistry, and a minor in Mathematics.  Jonathan's current work involves development of both high-throughput, and classical biochemical assays to query the functional roles for lncRNAs in directing neural differentiation.</p>
  </div>
</div>

<!-- Liz -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Elizabeth_Vincent_2.jpg" alt="Elizabeth Vincent" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:liz.vincent92@gmail.com" target="_top">Elizabeth Vincent</a> -- Ph.D. Candidate, Human Genetics Graduate Program</h4>
     <p>Liz joined the Human Genetics program in August 2015 after receiving her B.A. in Chemistry from Yale University. Her undergraduate thesis involved a genetic study of a trio of individuals to identify a causal variant for a specific neurological disorder. She brings with her experience in both experimental and computation biology.  Her current projects include a characterization of newborn enteric neurons in a mouse model of Hirschsprung Disease.</p>
  </div>
</div>

<!-- Genevieve -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Genevieve.jpg" alt="Genevieve Stein-O'Brien" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:gsteinobrien@gmail.com" target="_top">Genevieve Stein-O'Brien, Ph.D.</a> -- Postdoctoral Fellow</h4>
     <p>Dr. Stein-O'Brien is a post doctoral fellow in Oncology Biostatics and Bioinformatics and Neuroscience Departments at Johns Hopkins University with affiliations in the McKusick-Nathans Institute of Genomics Medicine and Institute for Data Intensive Engineering and Science. In 2017, she received a PhD in Human Genetics from Johns Hopkins School of Medicine and a MHS in Biostatistics from Johns Hopkins School of Public Health. Dr. Stein-O'Brien's research is focused on the stochastic processes underlying gene regulation in dynamic biological systems. Specifically, she develops computational and statistical methods for pattern detection and data integration in high-throughput genomics.</p>
  </div>
</div>

<!-- Kenji -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Kenji Johnson" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:" target="_top">Kenji Johnson, Ph.D.</a> -- Postdoctoral Fellow</h4>
     <p></p>
  </div>
</div>

<!-- Tori -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Tori.jpg" alt="Victoria Hoskins" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:vhoskin1@jhmi.edu" target="_top">Victoria Hoskins</a> -- Ph.D. Candidate, Human Genetics Graduate Program</h4>
     <p>Tori Hoskins hails from the hometown of Krispy Kreme Doughnuts where she attended Wake Forest University and earned a B.S. in Biology and minors in Chemistry and Anthropology. She is currently a PhD Candidate in the Human Genetics program at The Johns Hopkins School of Medicine and is jointly mentored by Loyal Goff and Karen Reddy. Her project is focused on understanding how Lamina Associated Domains are re-established after mitosis.</p>
  </div>
</div>

<!-- Briana -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Briana.jpg" alt="Briana Winer" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:bwiner2@jhmi.edu" target="_top">Briana Winer</a> -- Research Technologist</h4>
     <p>Briana, born and raised in Baltimore County, received her B.S. in Biochemistry from Stevenson University. Whilst an undergrad, she retained membership in various honor societies, such as, Beta Beta Beta, Gamma Sigma Epsilon, and Sigma Xi. She was also highly involved in the Phi Sigma Sigma sorority. She completed a Capstone Research Project at the Johns Hopkins Bloomberg School of Public Health under the mentorship of Dr. Janice Evans. This project focused on optimizing antibody conditions for determining protein localization within mouse oocytes. Briana also participated in a semester long course, at her alma mater, doing research on the role of ubiquitination and its' effect on stem cell differentiation and lineage determination. While she hopes to contribute her knowledge and dedication to our lab, she remains focused on her goal of becoming an Embryologist in the near future. </p>
  </div>
</div>

<!-- Gloria -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Gloria Shin" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:gcha4@jhmi.edu" target="_top">Gloria Shin</a> -- Research Technologist</h4>
     <p>A graduate of the Johns Hopkins Human Genetics graduate program, Gloria has found her way back to the Miller Research Building as a member of the Goff lab. Gloria is coordinating our collaborative single cell experiments and is the point of contact for the developing Single Cell Innovation Lab.</p>
  </div>
</div>

<!-- Ale -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Alejandra Patino" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:avalenc4@jhmi.edu" target="_top">Alejandra Patino</a> -- Predoctoral Fellow, JHU PREP Program</h4>
     <p></p>
  </div>
</div>

<!-- Alexa
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Alejandra Patino" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:avalenc4@jhmi.edu" target="_top">Alejandra Patino</a> -- Predoctoral Fellow, JHU PREP Program</h4>
     <p></p>
  </div>
</div>
-->

<h3>Alumni</h3>
<!-- Mike -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/mfeyder.jpg" alt="Michael Feyder" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:mfeyder1@jhmi.edu" target="_top">Michael Feyder </a>-- Postdoctoral Fellow</h4>
     <p></p>
  </div>
</div>

<!-- Gabby -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/gabby.jpg" alt="Gabrielle Cannon" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:gcannon4@jhmi.edu" target="_top">Gabrielle Cannon</a> -- Research Technologist</h4>
     <p></p>
  </div>
</div>

<!-- Brian -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Brian.jpg" alt="Brian Clark" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:bclark28@jhmi.edu" target="_top">Brian Clark, Ph.D.</a> -- Current: Assistant Professor, Ophthalmology and Visual Sciences, Washington University SOM, St. Louis, MO</h4>
     <p></p>
  </div>
</div>

<h3>Rotation Students</h3>

<h4>2016</h4>
<ul>
  <li>Vamsee Pillalamarri (HG)</li>
  <li>Stephanie Yang (HG)</li>
  <li>Ah Young Lee (HG)</li>
</ul>

<h4>2017</h4>
<ul>
  <li>Emily Davis (HG)</li>
  <li>Tim Nieuwenhuis (HG)</li>
</ul>

<h4>2018</h4>
<ul>
  <li>Parris Washington (HG)</li>
  <li>Katie Jenike (HG)</li>
</ul>

<h4>2019</h4>
<ul>
  <li>Annie Campbell (BCMB)</li>
  <li></li>
  <!--<li>Vickie Tringh (HG)</li>-->
</ul>
{% endblock content %}
