{% extends "base.html" %}

{% block title %}
  People
{% endblock title %}

{% block content %}
<!-- <div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong><a href="join.html">Postdocs Wanted</a></strong><br>
  The Goff lab is looking for postdoctoral fellows interested in lncRNA biology and/or neuron specification. Please contact Dr. Goff directly for information or to apply.
</div> -->

<h2>People</h2>
<!-- Loyal -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Goff_loyal_small.jpg" alt="Loyal Goff, PI" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:loyalgoff@jhmi.edu" target="_top">Loyal Goff</a> -- Principal Investigator</h4>
   	<p>Dr. Goff is an Assistant Professor of Neuroscience in the <a href="https://igm.jhmi.edu/">McKusick-Nathans Institute of Genetic Medicine</a> at Johns Hopkins University School of Medicine. His postdoctoral work was conducted under the joint mentorship of Drs. John Rinn (Harvard, SCRB) and Manolis Kellis (MIT, CSAIL) and involved the discovery, annotation, and characterization of long non-coding RNAs in a variety of cellular and developmental contexts. The Goff lab is currently focused on the roles of long noncoding RNAs on neural cell fate decisions and the application of single cell RNA-Sequencing to elucidate the developmental hierarchies during neuronal specification.</p>
  </div>
</div>

<!-- Gabby -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/gabby.jpg" alt="Gabrielle Cannon" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:gcannon4@jhmi.edu" target="_top">Gabrielle Cannon</a> -- Research Technologist</h4>
     <p>Gabrielle has recently joined the Goff lab as a research technologist. She comes by way of Juniata College having previously worked in the lab of Dr. Norris Muth where she was involved in the metagenomic analysis of fungal community variation on native and invasive maple species. Gabby brings with her a solid foundation and interest in both molecular biology and bioinformatics.</p>
  </div>
</div>

<!-- Mike -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Gabrielle Cannon" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:mfeyder1@jhmi.edu" target="_top">Michael Feyder </a>-- Postdoctoral Fellow</h4>
     <p>Mike comes to the Goff lab by way of the Karolinska Institute, where he received his Ph.D. under the mentorship of Prof. Gilberto Fisone. There, his most recent work involved explorations of the the interaction between dopamine signaling and polycomb-mediated gene expression in Parkinson's disease, as well as identifing a role for mitogen- and stress-activated kinase 1 in L-DOPA-induced dyskinesia. Mike completed his undergraduate work at Vanderbilt University where he earned a B.S. in Neuroscience in 2006. Shortly after, joined the lab of Dr. Andrew Holmes at the National Institutes of Health.</p>
     <p>Here in the Goff lab, Mike is exploring the development and organization of the mammalian striatum using single-cell RNA-Seq. He is looking for key cellular factors, including lncRNAs, that contribute to the diversity and specificiation of distinct dopamine-responsive cell types within this important region of the brain.</p>
  </div>
</div>

<!-- JoJo -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Gabrielle Cannon" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:jrobe108@jhmi.edu" target="_top">Johanna Robertson</a> -- Human Genetics Graduate Student</h4>
     <p></p>
  </div>
</div>

<!-- Jonathan -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/missing.png" alt="Gabrielle Cannon" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading"><a href="mailto:jaugust7@jhmi.edu" target="_top">Jonathan Augustin</a> -- Biochemistry, Cellular and Molecular Biology Graduate Student</h4>
     <p>Jonathan is the most recent member of the Goff lab to join, as a graduate student in the BCMB program. Prior to joining the group, he was a research technician in the lab of Dr. Hao Jiang at the University of Alabama at Birmingham.  He did his undergraduate work at Maryville College in Tennessee where he earned his B.A. in Biochemistry, and a minor in Mathematics.  Jonathan's current work involves development of both high-throughput, and classical biochemical assays to query the functional roles for lncRNAs in directing neural differentiation.</p>
  </div>
</div>

{% endblock content %}
