{% extends "base.html" %}

{% block title %}
  People
{% endblock title %}

{% block content %}
<!-- <div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong><a href="join.html">Postdocs Wanted</a></strong><br>
  The Goff lab is looking for postdoctoral fellows interested in lncRNA biology and/or neuron specification. Please contact Dr. Goff directly for information or to apply.
</div> -->

<h2>People</h2>
<!-- Loyal -->
<div class="media">
  <span class="pull-left">
    <img class="media-object img-rounded img-responsive" src="images/Goff_loyal_small.jpg" alt="Loyal Goff, PI" style="box-shadow: 4px 4px 15px rgb(128,128,128);width:180px;margin:5px 15px 15px 5px;">
  </span>
  <div class="media-body">
    <h4 class="media-heading">Loyal Goff -- Principal Investigator</h4>
   	Dr. Goff is an Assistant Professor of Neuroscience in the <a href="https://igm.jhmi.edu/">McKusick-Nathans Institute of Genetic Medicine</a> at Johns Hopkins University School of Medicine.
  </div>
</div>

{% endblock content %}
