{% extends "base.html" %}

{% block title %}
	Preprints
{% endblock title %}

{% block content %}
<body class="is-preload">
<div id="page-wrapper">
	{% include 'header.html' %}
	<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Preprints</h2>
				</header>

				<!-- Content -->
					<section id="content">
						<!-- Accordion -->
						<div class="accordion alt" id="accordionPreprints">
							{% for preprint in preprints %}
							<!--  Card {{ loop.index }}  -->
							<div class="card text-left">
								<div class="card-header" id="heading{{ loop.index }}">
									<a class="btn btn-dark pull-left" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
											<span class="pull-left text-left">
													 <p class="font-weight-bold">{{ loop.index }}. {{ preprint['title'] }} ({{ preprint['date'][:4] }})</p>
													 <p class="note font-weight-light"><span class="font-italic">{{ ",".join(preprint['authors'].split(";"))|nameBoldPubs }}</span>, {{ preprint['server']|biorxiv_logo }}</p>
											</span>
									</a>
								</div>

								<div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionPreprints">
									<div class="card-body" >
										<div data-badge-type="1" data-hide-no-mentions="true" data-doi="{{preprint['doi']}}" class="altmetric-embed pull-left"> </div>
										<p>{{ preprint['abstract'] }}</p>
										<a target="_blank" href="http://dx.doi.org/{{ preprint['doi'] }}">{{ preprint['doi'] }}</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- End Accordion -->


					</section>
			</div>
		</div>
</div>
{% endblock content %}
