{% extends "base.html" %}

{% block title %}
  Publications
{% endblock title %}

{% block content %}
<h2>Publications</h2>
  <ul>
    <li><a href="http://europepmc.org/authors/0000-0003-2875-451X" target="_blank">EBI Summary page</a></li>
    <li><a href="https://scholar.google.com/citations?user=2ZVv2v8AAAAJ&hl=en" target="_blank">Google Scholar</a></li>
  </ul>
  <div class="panel-group" id="accordion">
    {% for record in records %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
        <a data-toggle="collapse" class="panel-article-title" data-parent="#accordionpubs" href="#collapse{{ loop.index }}">
                 <em>{{ record['TI'] }}</em> ({{ record['DP'][:4] }})</a>
                 <p class="note">{{ ", ".join(record['AU'])}}<br>
                 {{ record['SO'] }}</p>
        </span>
      </div>
      <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:#fffff5;">
          <div data-badge-popover="bottom" data-badge-type="donut" data-hide-no-mentions="true" data-pmid="{{record['PMID']}}" class="altmetric-embed pull-left" style="padding-right: 0.25cm;"></div>
          <p>{{ record['AB'] }}</p>
          {% if record['LID'] is defined%}
              <a target="_blank" href="http://dx.doi.org/{{ record['LID'].split('[doi]')[0] }}">{{ record['LID'].split('[doi]')[0] }}</a>
          {% else %}
              <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ record['PMID'] }}">Article</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
