{% extends "base.html" %}
{% block title %}
	Index
{% endblock title %}

{% block leftcol %}
<!-- News -->

{% endblock leftcol %}

{% block content %}

	<!-- News -->
		<a href="https://igm.jhmi.edu/"><img src="images/igm_logo_1_0.png" class="img-rounded pull-right img-responsive" style="width:200px;margin-right:25px"></a>
		<h1>The Goff Lab</h1>

		<div class="row-fluid">
			<div class="col-md-9">
					<p>The Goff Lab at Johns Hopkins University School of Medicine studies the establishment of cellular identity during differentiation. How do complex systems reproducibly establish specific cellular subtypes over development? What are the key molecular decisions that affect cell fates? How do these processes go awry during disease? Our group integrates next-generation sequencing techologies with advanced molecular biology techniques to begin to address these broad questions in a variety of specific contexts at the resolution of individual cells.</p>

					<img src="images/Updated_Lab.jpg" class="img-rounded img-responsive pull-left" alt="Miller Research Building" style="vertical-align: middle; box-shadow: 4px 4px 15px rgb(128,128,128);width:500px;margin:5px 25px 5px 0px;">
					<p>Context matters in biology. Much of our understanding of cellular biology has been achieved through bulk analysis of hundreds, thousands, or even millions of cells, necessitated by the requirement for sufficient input material to perform standard molecular assays. The very nature of these aggregate studies compresses and obfuscates important sources of information regarding the variance across the cellular populations under study; namely the heterogeneity of a cellular population and the degree to which cell-cell variation can affect the individual response of a single cell.</p>
					<p>We are particularly is focused on the role of cellular context-specific variation in the development, organization, and function of the mammalian nervous system. To this end, we examine single cell heterogeneity as it pertains to 1) the characterization and annotation of cellular diversity in the mammalian CNS and ENS, 2) the phenotypic diversity in population-level responses to stimuli or insults, 3) the effect of genetic variation on cellular diversity in steady state and disease conditions, and 4) the reconstruction and modulation of cellular state transitions in development and disease. </p>
					<p>We explore these questions in the context of the mammalian brain; an organ system with an incredible diversity of cell types.</p>
			</div>
			<div class="col-md-3">
			&nbsp;
			</div>

	</div>


	<!--<img src="images/Neurogenesis.png" style="position:relative;float:left;max-width:50%">-->
{% endblock content %}

{% block footer %}
	<!--<blockquote class="pull-left" style="padding:5px;">
  		<p>"...a certain amount of hubris [is] required for anyone to call any part of the genome 'junk', given our level of ignorance."</p>
  		<small>Francis Collins, <cite title="Source Title">The Language of God: A Scientist Presents Evidence for Belief</cite></small>
	</blockquote>
-->
{% endblock footer %}
